# This is a basic workflow to help you get started with Actions

name: Unix (Linux & macOS)

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-18.04, ubuntu-20.04, macos-latest ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: env
        run: echo $GITHUB_WORKSPACE

      # Runs a single command using the runners shell
      - name: cmake generate
        run: cd $GITHUB_WORKSPACE && mkdir build && cd build && cmake ..

      - name: cmake build
        run: cd $GITHUB_WORKSPACE/build && cmake --build . --config Release

      - name: ls
        run: cd $GITHUB_WORKSPACE/build && pwd && ls -alh

      - uses: actions/upload-artifact@v2
        if: runner.os == 'Linux'
        with:
          name: linux_${{ matrix.os }}
          path: /home/runner/work/demo_c/demo_c/build/demo_c

      - uses: actions/upload-artifact@v2
        if: runner.os == 'macOS'
        with:
          name: macos_demo_c
          path: /Users/runner/work/demo_c/demo_c/build/demo_c
