# This is a basic workflow to help you get started with Actions

name: windows

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: cmake generate
        run: mkdir D:\\a\\demo_c\\demo_c\\build && cd D:\\a\\demo_c\\demo_c\\build && cmake ..

      - name: display files
        run: cd D:\\a\\demo_c\\demo_c\\build && ls

      # Runs a set of commands using the runners shell
      - name: cmake build
        run: cd D:\\a\\demo_c\\demo_c\\build && cmake --build . --config Release

      - name: ls files
        run: cd D:\\a\\demo_c\\demo_c\\build && ls

      - uses: actions/upload-artifact@v2
        with:
          name: windows
          path: D:\\a\\demo_c\\demo_c\\build\\Release\\demo_c.exe
